
  /* Font */
  @import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

  /* Design */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  
  html {
   // background-color: #ecf9ff;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4gGo9TnYrMo2_w-RT1fyPQXZNMJnWedN7Dg&usqp=CAU");
  }
  
  body {
    color: #272727;
    font-family: 'Quicksand', serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    padding: 1rem;
  }
  
  #reg{
    max-width: 1200px;
    margin: 20px auto;
  }
  
  h1 {
      font-size: 24px;
      font-weight: 400;
      text-align: center;
  }
  
  img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  
  .btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
  }
  
  .btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  
  }
  
  // .cards_item {
  //   display: flex;
  //   padding: 1rem;
  // }
  
  @media (min-width: 40rem) {
    .cards_item {
      width: 50%;
    }
  }
  
  @media (min-width: 56rem) {
    .cards_item {
      width: 100%;
    }
  }
  
  .card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .card_content {
    padding: 1rem;
    background: linear-gradient(to bottom left, #b9d5fd 40%, #709fdc 100%);
  }
  
  .card_title {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
  }
  
  .card_text {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-weight: 400;
  }
  .made_by{
    font-weight: 400;
    font-size: 13px;
    margin-top: 35px;
    text-align: center;
  }
  #gauche{
      background: linear-gradient(to bottom left, #b9d5fd 40%, #709fdc 100%);
      
  }
  
  .cercle {
      width: 40px;
      height: 40px;
      background: #b9d5fd;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
        
  }
  #cc{
      display: flex;
      justify-content: center;
  }
  
  
  
  #pays{
      margin: 15px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 20px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    
    }
  
    
    #card{
      text-align: center;
      box-shadow: 0 2px 10px rgba(0,0,0,0.2);
      border-radius: 8px;
      padding: 20px 0;
      margin: 10px;
      .img-wrapper{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    