<ion-header>
  <ion-toolbar>
    <ion-title>Région de Kayes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="container" id="cont">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="row">
        <div class="col-12 col-md-6 bg-danger"> 
          <h4>Nom:</h4>
          <h4>Langue:</h4>
          <h4>Code Region:</h4>
        </div>
        <div class="col-12 col-md-6 bg-success">
          <div class="card_image"> 
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Mali_-_Kayes.svg/langfr-1280px-Mali_-_Kayes.svg.png" alt="">

          </div>


        </div>
        <h1>Description:</h1>
        <p>La région de Kayes est limitée au sud par la Guinée, à l’est par la région de Koulikoro, au nord par la Mauritanie et à l’ouest par le Sénégal.

          Chutes Gouina4.jpg
          Plusieurs fleuves et rivières traversent la région : le Baoulé, le Bafing et le Bakoye qui se rejoignent à Bafoulabé pour former le Sénégal. Dans la région se trouvent les chutes du Félou (à 17 km de Kayes), les chutes de Gouina (à 82 km au sud-est de Kayes sur le fleuve Sénégal), le lac Magui et le lac de Doro.
          
          À la frontière guinéenne, le climat est assez humide. En remontant vers le nord, on traverse une zone soudanienne puis on arrive à une zone sahélienne. Kayes connaît des températures très élevées, faisant d’elle la ville la plus chaude d’Afrique</p>
        <h1>Historique de la Population</h1>
        <div class="col-12 col-md-4 bg-success">
          <div class="container">
            <div id="card" >
              <h5>Annéé:2022
              </h5>
              <p>1243654A3hbts</p>

            </div>   
          </div>
        </div>
        <div class="col-12 col-md-4 bg-secondary">
          <div class="container">
            <div id="card" >
              <h5>2022
              </h5>
              <p>1243654A3hbts</p>

            </div>   
          </div>
        </div>
        <div class="col-12 col-md-4 bg-danger">
          <div class="container">
            <div id="card" >
              <h5>2022
              </h5>
              <p>1243654A3hbts</p>
            </div>   
          </div>
        </div>
        
        
      </div>
    </div>
    <div class="col-12 col-md-6 ">
      <div class="container">
        <div id="card" >
        <h2>Activités principale</h2>
        </div>   
      </div>
      <div class="blog-card">
        <div class="meta">
          <div class="photo" style="background-image: url(https://ccafs.cgiar.org/sites/default/files/styles/image_full/public/blog/pictures/5217268169_b437fffe3c_z.jpg?itok=4zdBbZbe)"></div>
          <ul class="details">
            <li class="author"><a href="#">Agriculture</a></li>
            <!-- <li class="date"></li>
            <li class="tags">
              <ul>
                <li><a href="#">Learn</a></li>
                <li><a href="#">Code</a></li>
                <li><a href="#">HTML</a></li>
                <li><a href="#">CSS</a></li>
              </ul>
            </li> -->
          </ul>
        </div>
        <div class="description">
          <h1>Agriculture</h1>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
          <p class="read-more">
            <a href="#">Voir +</a>
          </p>
        </div>
      </div>
      <div class="blog-card alt">
        <div class="meta">
          <div class="photo" 
          style="background-image: url(https://www.financialafrik.com/wp-content/uploads/2021/01/Extraction-dune-mine-dor-au-Mali.jpg)"></div>
          <ul class="details">
            <li class="author"><a href="#">Orpaillage</a></li>
            <!-- <li class="date">July. 15, 2015</li>
            <li class="tags">
              <ul>
                <li><a href="#">Learn</a></li>
                <li><a href="#">Code</a></li>
                <li><a href="#">JavaScript</a></li>
              </ul>
            </li> -->
          </ul>
        </div>
        <div class="description">
          <h1>Orpaillage</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
          <p class="read-more">
            <a href="#">Voir +
            </a>
          </p>
        </div>
      </div>

    </div>
    <div class="container">
      <div id="card" style="margin-left: auto;
      margin-right: auto; width: 40%;" >
      <h2>Laissez un Commentaire</h2>
      </div>   
    </div>
      <form>      
        <input name="name" type="text" class="feedback-input" placeholder="Nom et Prénom" />   
        <input name="email" type="text" class="feedback-input" placeholder="Email" />
        <textarea name="text" class="feedback-input" placeholder="Message"></textarea>
        <input type="submit" value="Envoyer"/>
      </form>   
    
  </div>
</div>
</ion-content>
