<ion-app>
  <ion-split-pane contentId="main" when="lg" >
    <!--  the side menu  -->
    <ion-menu contentId="main">
  

      <ion-content>
        <!-- image de l'entreprise -->
        <div class="row mt-3">
          
        </div>
        <!-- image de l'utilisateur -->
        <div class="row mt-2">
          <div class="col align-self-center text-center" routerLink="/dashboard/profil">
            <!-- <imgclass="imageUtilisateur" alt="Silhouette of mountains" src="../../assets/avatar.png" />
            <img *ngIf="Utilisateur.image!=null" class="imageUtilisateur" alt="Silhouette of mountains" src="{{Utilisateur.image}}" /> -->
            <img alt="Silhouette of mountains" src="../../assets/images/malitouristlogo.png" />

          </div>

        </div>
        <!-- les informations consernant l'utilisateur -->
        <div class="row ">
          <div class="col">
            <div class="text-center nomUtilisateur">
              <!-- {{Utilisateur.prenom}} {{Utilisateur.nom}} -->
              Découvre les régions du Mali et autres régions du Monde
            </div> 
          </div>
        </div>
        <div class="row ">
          <div class="col">
            <div class="text-center statusUtilisateur">
              <!-- {{Utilisateur.role.libellerole}} -->
              userrrrr
            </div>
          </div>
        </div>
        <!-- le reste des contenu de sidebar -->
        <div class="row mt-2 ">

          <ion-item (click)="FermerSideBar()" lines="none" routerDirection='root' [routerLinkActiveOptions]={exact:true} routerLink="/accueil"
            routerLinkActive='active-item'>
            <img class="ion-icon Active" src="../assets/icon/icon/accueil une fois active.png" alt="" srcset="">
            <img class="ion-icon Desactive" src="../assets/icon/icon/accueil.png" alt="" srcset=""> &nbsp;&nbsp;&nbsp;
            <ion-label class="lienPage">Accueil</ion-label>
          </ion-item>
          <ion-item (click)="FermerSideBar()" lines="none" routerDirection='root' [routerLinkActiveOptions]={exact:true} routerLink="/regions"
          routerLinkActive='active-item'>
          <img class="ion-icon Active" src="../assets/icon/icon/accueil une fois active.png" alt="" srcset="">
          <img class="ion-icon Desactive" src="../assets/icon/icon/accueil.png" alt="" srcset=""> &nbsp;&nbsp;&nbsp;
          <ion-label class="lienPage">Regions</ion-label>
          </ion-item>
          <ion-item (click)="FermerSideBar()" lines="none" routerLink="/pays" routerLinkActive='active-item'>
            <img class="ion-icon Active" src="../assets/icon/icon/activite une fois active.png" alt="" srcset="">
            <img class="ion-icon Desactive" src="../assets/icon/icon/activiter.png" alt="" srcset=""> &nbsp;&nbsp;&nbsp;
            <ion-label class="lienPage">Pays</ion-label>
          </ion-item>
          <ion-item (click)="FermerSideBar()" lines="none" routerLink="/dashboard/allactivity" routerLinkActive='active-item'>
            <img class="ion-icon Active" src="../assets/icon/icon/activite une fois active.png" alt="" srcset="">
            <img class="ion-icon Desactive" src="../assets/icon/icon/activiter.png" alt="" srcset=""> &nbsp;&nbsp;&nbsp;
            <ion-label class="lienPage">Activités Au Mali</ion-label>
          </ion-item>
          <ion-item (click)="FermerSideBar()" lines="none" routerLink="/contact" routerLinkActive='active-item'>
            <img class="ion-icon Active" src="../assets/icon/icon/activite une fois active.png" alt="" srcset="">
            <img class="ion-icon Desactive" src="../assets/icon/icon/activiter.png" alt="" srcset=""> &nbsp;&nbsp;&nbsp;
            <ion-label class="lienPage">Contact</ion-label>
          </ion-item>
          <!-- <ion-item *ngIf="Utilisateur.role.libellerole=='ADMIN'" (click)="FermerSideBar()" lines="none" routerLink="/dashboard/entite" routerLinkActive='active-item'>
            <img class="ion-icon Active" src="../assets/icon/icon/entite une fois toucher.png" alt="" srcset="">
            <img class="ion-icon Desactive" src="../assets/icon/icon/entite.png" alt="" srcset=""> &nbsp;&nbsp;&nbsp;
            <ion-label class="lienPage">Activités Au Mali</ion-label>
          </ion-item>
          <ion-item *ngIf="Utilisateur.role.libellerole=='ADMIN'" (click)="FermerSideBar()" lines="none" routerLink="/dashboard/personnels" routerLinkActive='active-item'>
            <img class="ion-icon Active" src="../assets/icon/icon/personnel une fois active.png" alt="" srcset="">
            <img class="ion-icon Desactive" src="../assets/icon/icon/personnel.png" alt="" srcset=""> &nbsp;&nbsp;&nbsp;
            <ion-label class="lienPage">Population des régions</ion-label>
          </ion-item> -->
        
          
          
        </div>


        <div class="d-grid gap-2 mx-auto mt-2">
          <button class="btn btn- butonDeconnexion m-2 " (click)="deconnecter()" expand="block">Deconnexion</button>
        </div>

      </ion-content>
    </ion-menu>
  
    <!-- the main content -->
    <ion-router-outlet id="main"> </ion-router-outlet>
  </ion-split-pane>
</ion-app>