 <!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
       Decouvre le Mali dans toute sa splendeur 
    </ion-title>
  </ion-toolbar>
</ion-header>   -->
<!-- https://codepen.io/claudiulazar/pen/OdvVOo -->

<ion-content [fullscreen]="true" >

<div class="container"  style="margin-top:10px; ">

        <!-- ======= Hero Section ======= -->
        <div id="hero">

          <div class="container">
            <div class="row justify-content-between">
              <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
                <div data-aos="zoom-out">
                  <h1>Découvre le Mali dans toute sa<span> splendeur</span></h1>
                  <h2>Un pays avec une diversité culturelle Merveilleuse <br>
                    Pays de Soundjata Keita, de Samory Touré,de Soumaoro Kanté... </h2>
                  <div class="text-center text-lg-start">
                    <a routerLink="/accueil" class="btn-get-started scrollto">Découvrez!</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
                <img src="../../assets/images/malitouristlogo.png" class="img-fluid animated" alt="">
              </div>
            </div>
          </div>

        </div>
        <div class="container" id="mycont">
          <div class="carousel">
            <div class="carousel__face"><span>Bamako</span></div>
            <div class="carousel__face"><span>Région de Kayes</span></div>
            <div class="carousel__face"><span>Région de Koulikoro</span></div>
            <div class="carousel__face"><span>Région de Sikasso </span></div>
            <div class="carousel__face"><span>Région de Segou</span></div>
            <div class="carousel__face"><span>Région de Mopti</span></div>
            <div class="carousel__face"><span>Région de Tombouctou</span></div>
            <div class="carousel__face"><span>Région de Gao</span></div>
            <div class="carousel__face"><span>Région de Kidal</span></div>
          </div>
        </div>
</div>
  


  
  
   <!-- <div class="row " >
      <div class="col-12 " id="card"> 
        <h1 style="color: #709fdc;"> Decouvre le Mali dans toute sa splendeur </h1>
        <h3 style="text-align:justify;"> Berceau de trois grands empires : <br> 
        L'empire du Ghana,  <br>
        L'empire du Mali et <br>
        L'empire songhaï <br>
          Un pays avec une diversité culturelle Merveilleuse <br>
          Pays de Soundjata Keita, de Samory Touré,de Soumaoro Kanté, et de Alpha Omar Konaré... 
        </h3>
        <button routerLink="/accueil"> <H2>Visiter!!</H2> </button>
         <img src="../../assets/images/malitouristlogo.png" alt=""> 

      </div>
      <div class="col-12 col-md-10">
       
      </div>  
    </div>  -->
</ion-content>
