<ion-header>
  <ion-toolbar>
    <ion-title>MaliTourist vous souhaite las Bienvene</ion-title>
    <ion-buttons slot="end">
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="row">
    <div class="col-lg-6 col-12">
      <div class="d-grid gap-2 m-2 d-md-flex justify-content-md-start">
  
      </div>
  
    </div>
    <div class="col-lg-6 col-12">
      <div class="d-grid m-2 gap-2 d-md-flex justify-content-md-end">
        <button class="btn buttonColor" type="button" (click)="logout()" >Deconnexion</button>
      </div>
      
    </div>
  </div>
<div class="container " id="all">
  <div class="container " id="pays">
    <div class=" row  " id="cc" >
      <div id="card" class="col-12 col-md-3 shadow-lg p-3 mb-5 bg-white rounded" >
        <div class="cercle">
          <h2>5000</h2>  
              </div>
        <p>Superficie</p>
     </div>
     <div id="card"class="col-12 col-md-3 shadow-lg p-3 mb-5 bg-white rounded" >
      <div class="cercle">
        <h2 >50000</h2>  
            </div>
        <p>Population en 2022</p>
     </div>
     <div id="card"class="col-12 col-md-3 shadow-lg p-3 mb-5 bg-white rounded" >
        <div class="cercle">
          <h2 >50000</h2>  
              </div>
        <p>Nombre de Région</p>
     </div>
     
    </div>
  </div>

  <div class="container" id="firstrow" style="margin: 15px; ">
    <div class="row  align-items-cente shadow-lg p-3 mb-5 bg-white rounded" id="gauche" >
      <div class="col-12 col-md-6" >
           
              <div>
                <h1 class="pt-3">Mali</h1>
              <p>Le lorem ipsum est, en imprimerie, une suite de mots
                 sans signification utilisée à titre provisoire pour
                  calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès qu'il est prêt ou 
                que la mise en page est achevée. Généralement, on utilise un texte en faux latin, le Lorem ipsum ou Lipsum.</p>
                <h5>Capitale: </h5>
                <h5>Devise: </h5>
                <h5>Drapeau: </h5>
                <p>{{ content }}</p>

              </div>

            
      </div>
      <div class="col-12 col-md-6 "style="background-color:white;">
        <img src="https://sites.google.com/site/tourismemali/_/rsrc/1244671525360/carte/Carte_Malojojojojoj.gif" alt="" >
      </div>
  </div>
  </div>
  <div class="container " style="width:70%;">
    <div class="container " >
      <div id="card" class="shadow-lg p-3 mb-5 bg-white rounded">
       <h1 >Différentes Régions du Mali </h1>
      </div>   
      </div>
   
  </div>
  <div class="container" style="margin: 15px;">
      
    <div class="row" id="reg">
      <div class="col-12  col-md-4 ">
        <ul class="cards">
          <li class="">
            <div class="card">
              <div class="card_image"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/H%C3%B4tel_de_Ville_de_Kayes.jpg/280px-H%C3%B4tel_de_Ville_de_Kayes.jpg"></div>
              <div class="card_content">
                <h2 class="card_title"> nomregion</h2>
                <p class="card_text">desciption</p>
                <button class="btn card_btn" [routerLink]="['/detailactivite',]">Voir +</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-4">
        <ul class="cards">
          <li class="">
            <div class="card">
              <div class="card_image"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/H%C3%B4tel_de_Ville_de_Kayes.jpg/280px-H%C3%B4tel_de_Ville_de_Kayes.jpg"></div>
              <div class="card_content">
                <h2 class="card_title"> nomregion</h2>
                <p class="card_text">desciption</p>
                <button class="btn card_btn">Voir +</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-4 ">
        <ul class="cards">
          <li class="">
            <div class="card">
              <div class="card_image"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/H%C3%B4tel_de_Ville_de_Kayes.jpg/280px-H%C3%B4tel_de_Ville_de_Kayes.jpg"></div>
              <div class="card_content">
                <h2 class="card_title"> nomregion</h2>
                <p class="card_text">desciption</p>
                <button class="btn card_btn" routerLink="/detail-region">Voir +</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
  
    </div>
  </div>
 
</div>


</ion-content>
